In [1]:
import pandas as pd
import numpy as np

In [5]:
file_path = "../data/nifty_spot_5min.csv"

df = pd.read_csv(file_path, parse_dates=["datetime"])
df.set_index("datetime", inplace=True)

df.head()

                        open     high      low    close  volume
datetime
2015-01-09 09:15:00  8285.45  8301.30  8285.45  8301.20       0
2015-01-09 09:20:00  8300.50  8303.00  8293.25  8301.00       0
2015-01-09 09:25:00  8301.65  8302.55  8286.80  8294.15       0
2015-01-09 09:30:00  8294.10  8295.75  8280.65  8288.50       0
2015-01-09 09:35:00  8289.10  8290.45  8278.00  8283.45       0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 195080 entries, 2015-01-09 09:15:00 to 2025-07-25 15:25:00
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   open    195080 non-null  float64
 1   high    195080 non-null  float64
 2   low     195080 non-null  float64
 3   close   195080 non-null  float64
 4   volume  195080 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 8.9 MB

In [9]:
df.isna().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [11]:
df.ffill(inplace=True)

In [13]:
# Time difference between candles
df.index.to_series().diff().value_counts().head()

datetime
0 days 00:05:00    192461
0 days 17:50:00      1978
2 days 17:50:00       473
1 days 17:50:00        72
3 days 17:50:00        58
Name: count, dtype: int64

In [15]:
df["returns"] = df["close"].pct_change()

In [17]:
q1 = df["returns"].quantile(0.25)
q3 = df["returns"].quantile(0.75)
iqr = q3 - q1

lower_bound = q1 - 3 * iqr
upper_bound = q3 + 3 * iqr

In [19]:
df = df[(df["returns"] >= lower_bound) & (df["returns"] <= upper_bound)]

In [21]:
df.drop(columns=["returns"], inplace=True)

In [23]:
df.isna().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [25]:
output_path = "../data/nifty_cleaned_5min.csv"
df.to_csv(output_path)

print(f"Cleaned data saved to {output_path}")

Cleaned data saved to ../data/nifty_cleaned_5min.csv