In [1]:
import pandas as pd
import numpy as np

In [3]:
file_path = "../data/nifty_cleaned_5min.csv"

df = pd.read_csv(file_path, parse_dates=["datetime"])
df.set_index("datetime", inplace=True)

df.head()

                        open     high      low    close  volume
datetime
2015-01-09 09:20:00  8300.50  8303.00  8293.25  8301.00       0
2015-01-09 09:25:00  8301.65  8302.55  8286.80  8294.15       0
2015-01-09 09:30:00  8294.10  8295.75  8280.65  8288.50       0
2015-01-09 09:35:00  8289.10  8290.45  8278.00  8283.45       0
2015-01-09 09:40:00  8283.40  8288.30  8277.40  8285.55       0

In [5]:
df["ema_5"] = df["close"].ewm(span=5, adjust=False).mean()
df["ema_15"] = df["close"].ewm(span=15, adjust=False).mean()

In [7]:
df["ema_gap"] = df["ema_5"] - df["ema_15"]

In [9]:
df["returns"] = df["close"].pct_change()

In [11]:
df["volatility"] = df["returns"].rolling(window=20).std()

In [13]:
df["candle_range"] = df["high"] - df["low"]
df["candle_body"] = (df["close"] - df["open"]).abs()

In [15]:
df["hour"] = df.index.hour
df["minute"] = df.index.minute
df["day_of_week"] = df.index.dayofweek

In [17]:
df["returns_lag_1"] = df["returns"].shift(1)
df["returns_lag_3"] = df["returns"].shift(3)
df["ema_gap_lag_1"] = df["ema_gap"].shift(1)

In [19]:
df.dropna(inplace=True)

In [21]:
df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'ema_5', 'ema_15', 'ema_gap',
       'returns', 'volatility', 'candle_range', 'candle_body', 'hour',
       'minute', 'day_of_week', 'returns_lag_1', 'returns_lag_3',
       'ema_gap_lag_1'],
      dtype='object')

In [23]:
output_path = "../data/nifty_features_5min.csv"
df.to_csv(output_path)

print(f"Feature dataset saved to {output_path}")

Feature dataset saved to ../data/nifty_features_5min.csv